@import "bootstrap-sprockets";
@import "bootstrap";
@import "jTinder";

.navbar-default{
	background-color: #0e8daa;
}

.navbar-default .navbar-brand{
	color: #000;
}

.navbar-default .navbar-nav > li > a{
	color: #000;
}


