<div class="page-slice home-hero home-hero--talent">
    <div class="page-slice__inner home-hero__wrapper">
        <div class="row">
            <div class="small-12 columns slice__content">
                <img class="home-hero__image show-for-medium-up" src="assets/discover.png">
                <h1 class="home-hero__title">Need a website? let us take that stress off your shoulders! focus on auditioning and getting that part! Get in touch!.</h1>
                <h2 class="home-hero__subtitle">
                        3,866 happy  customers all ages, looks, and levels of experience.
                    </h2>
            </div>
        </div>
    </div>
</div>

 

    