<head>
	<link rel="stylesheet" type="text/css" href="footer.css">
</head>
<footer class="footer">
     <div class="container">
       <p class="text-muted">Place sticky footer content here.</p>
     </div>
   </footer>